<div id="home">
  <div class="home-content">
    <h1>Iddù et Vous</h1>
    <h2>Séjours détox dans les îles éoliennes</h2>
    <p class="about">
      <%= link_to "En savoir plus", "about.html" %>
    </p>
  </div>
</div>
